.container{
    border-bottom: 1px solid black;
    margin-bottom: 20px
}
.titulo{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
h1::first-letter{
    font-size: 200%;
    color: hotpink;
}

p:not(.texto1,.texto2,.texto4){
    color: black;
}
.texto4{
    color: green;
    font-size: 36px;
}
.texto3{
    margin-top: 1px;
}
